.home_page {
  background-color: #f4f4f4;
}
.banner_heading {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
  font-weight: 600;
}

.card_container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
